
*, *::before, *::after {
	box-sizing: border-box;
	font-family: Gotham Rounded, sans-serif;
	font-weight: normal;
	box-shadow: 0 4px 8px 0 rgba(0 , 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.);
	border-radius: 14px;
  }
  
  body {
	padding: 0;
	margin: 0;
	background: #ECEDEF;
	
  }
  
  .calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);

  }
  
  .calculator-grid > button {
	cursor: pointer;
	font-size: 2.5rem;
	border: 5px solid #ECEDEF;
	border-radius: 1000px;
	outline:  wheat;
	color: #5E5858;
	background-color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover {
	background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
	grid-column: span 2;

  }
  
  .output {
	grid-column: 1 / -1;
	background-color: #FF0509;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
  }
  
  .output .previous-operand {
	color: rgba(255, 255, 255, .75);
	font-size: 1.5rem;
  }
  
  .output .current-operand {
	color: white;
	font-size: 2.5rem;
  }





/* 
body, html {
	background: #ECEDEF;
	margin: 0;
	padding: 0;
}
 
.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
	border-radius: 14px;
	padding-bottom: 20px;
	width: 320px;
	
}
.display {
	width: 100%;
	height: 60px;
	padding: 40px 0;
	background: #FF0509;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}
.buttons {
	padding: 20px 20px 0 20px;
}
.row {
	width: 280px;
	float: left;
}
input[type=button] {
	width: 60px;
	height: 60px;
	float: left;
	padding: 0;
	margin: 5px;
	box-sizing: border-box;
	background: #ecedef;
	border: none;
	font-size: 30px;
	line-height: 30px;
	border-radius: 50%;
	font-weight: 700;
	color: #5E5858;
	cursor: pointer;
	
}
input[type=text] {
	width: 270px;
	height: 60px;
	float: left;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
	color: #ffffff;
	text-align: right;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	margin: 0 25px;
	
}
.red {
	background: #FF0509 !important;
	color: #ffffff !important;
	
} */